{% extends 'tl/template.html' %} {% load static %} {% block bodyContent %}
<div style="margin:50px 50px auto 50px;font-size:18px;">
	<div id="main" role="main">
		<article class="entry">
			<div class="entry-wrapper">
				<header class="entry-header">
					<div style="text-align: center;font-size: 80px;margin-bottom:20px">About the Lab</div>
				</header>
				<div class="entry-content">
					<center>
						<img src="{% static 'tl/assets/images/working/3.JPG' %}" alt="Tinkerers' Laboratory" class="image-responsive image-tumbnail" style="width:98%">
					</center>
					<p style="margin-top:25px">
						Tinkerers’ Lab (<em>TL</em>) is a <strong>24x7</strong> technical facility open to all IITB students to encourage them to go beyond their curriculum and explore technology as hobby, as fun, and start tinkering, building and innovating to convert creative ideas into actual engineering products.
					</p>
					<p>
						The Lab was set up with support from the class of 1975 has been in operation since March 2014 with the idea that it will complement the engineering education at IITB with some much needed hands on tinkering and thus foster innovation.
					</p>
					<blockquote>
						<p>“If it can be imagined, it can be made!”</p>
					</blockquote>
					<p>The lab inventory includes a wide variety of equipment including CNC Machines, 3D Printer, Heavy Machines like Lathe, Milling, Drill, necessary Electronics equipment and the software assistance.</p>
					<p>Since its inception the tiny 700 Square foot lab has seen huge participation across all departments, year of study or academic program, for very diverse projects - from course projects, B-Tech Projects, Hobby projects, DIYs to Start-ups.</p>
					<h4 id="lab-management">Lab Management</h4>
					<p>Tinkerers’ Lab is managed by the students under the guidance of two faculty advisors. The students have liberty in procuring all necessary equipment and consumables required in the laboratory.</p>
					<h4 id="impact">Impact</h4>
					<ul>
						<li>NITI Aayog has decided on setting up of Tinkering Laboratories in 500 schools, based on TL IITB</li>
						<li>In 49th IIT Council Meet, the Council agreed to the proposal for establishment of Tinkerers’ Lab at all IITs on the lines of IIT Bombay</li>
						<li>Tinkerers’ Lab has been a place of attraction, popular with visitors from BARC, Honda Japan, World Bank, Nik Powells, GoI delegates etc.</li>
						<li>It has emerged to be second home for all the Techies the of the institute</li>
					</ul>
					<h4 id="highlights">Highlights</h4>
					<ul>
						<li>Successful Arduino Workshop with nearly 100 attendees and 20 mentors, of all programs and year of study</li>
						<li>Immense use of lab during Institute Technical Summer Projects, XLR8, Line Follower, RC Planes</li>
						<li>Popular sessions like How Things Work, where people open things and tinker with them</li>
						<li>3 start-ups emerged from TL already</li>
						<li>TL Talks have received immense response with prestigious speakers like Prof. Harald Haas, Prof. Henry Throop and others</li>
					</ul>
				</div>
			</div>
		</article>
	</div>
</div>
{% endblock %}
