{% extends 'tl/template.html' %} {% load static %} {% block bodyContent %}
<div class="row" style="text-align: center">
	<div class="col-md-10" style="margin-top:75px;">
		<div class="header" style="font-size: 40px;" ">Contact Us</div>
		<div style="height:80px "></div>
		<div style="text-decoration: none;font-size: 20px;color:grey ">
			<a href="team" style="text-decoration: none;color:#333 ">
				<img src="{% static 'tl/assets/images/contact.png' %} " alt="People " height="100 " width="100 " />
				<p><b>People</b></p>
				<p>Contact the Tinkerers' Lab Team</p>
			</a><br>
		</div>
		<div style="text-decoration: none;font-size: 20px;color:grey ">
			<a href="feedback " style="text-decoration: none;color:#333 ">
				<img src="{% static 'tl/assets/images/feedback.png' %} " alt="People " height="100 " width="100 " />
				<p><b>Feedback</b></p>
				<p>We'd love to hear from you</p>
			</a><br>
		</div>
	</div>
</div>
{% endblock %}
