{% extends 'tl/template.html' %} {% load static %} {% block bodyContent %}
<div style="margin:50px 50px auto 50px;font-size:1vmax;">
    <table style="width:100%; border-spacing: 10px;border-collapse: separate;">
        <tr style="font-size: 30px;height: 50px;text-align: center">
            <td style="margin:10px;background-color: grey;color:white;padding: 20px"> <a href="#TLTAK" style="text-decoration: none;color:inherit;">TL Talks</a></td>
            <td style="margin:10px;background-color: grey;color:white;padding: 20px "> <a href="#htw" style="text-decoration: none;color:inherit;">How Things Work</a></td>
        </tr>
        <tr style="font-size: 30px;height: 50px;text-align: center">
            <td style="margin:10px;background-color: grey;color:white;padding: 20px "> <a href="#aw" style="text-decoration: none;color:inherit;">Arduino Workshop</a></td>
            <td style="margin:10px;background-color: grey;color:white;padding: 20px "> <a href="#yb" style="text-decoration: none;color:inherit;">ARM</a></td>
        </tr>
    </table>
    <div style="text-align: center;margin-top: 30px;">
        <div style="font-size: 40px">
            <a name="TLTALK"></a>TL-TALKS</div>
        <p style="text-align: justify;">
            ‘TL Talks’ have begun with the purpose of taking ahead the very spirit of innovation, by acquainting students with great technologies and the brains behind them, to inspire students to find the inventor within them.</p>
        <div style="background-color:#aaa;height: 2px;width: 80%;margin-left: auto;margin-right: auto"></div>
        <div class="row" style="text-align: left;margin-top:20px">
            <div class="col-md-8">
                <h3>NASA New Horizons Mission and Beyond </h3> Talk by Prof. Henry Throop on NASA’s New Horizons Mission
            </div>
            <div class="col-md-4">
                <time datetime="2016-07-06T00:00:00-04:00">
                    <h3>July 06, 2016</h3>
                </time>
            </div>
        </div>
        <div style="height:10px"></div>
        <div style="background-color:#aaa;height: 2px;width: 80%;margin-left: auto;margin-right: auto"></div>
        <div class="row" style="text-align: left;margin-top:20px">
            <div class="col-md-8">
                <h3>What is LiFi? </h3> Talk by Prof. Harald Haas on the new technology of Light Fidelity
            </div>
            <div class="col-md-4">
                <time datetime="2016-07-06T00:00:00-04:00">
                    <h3>July 06, 2016</h3>
                </time>
            </div>
        </div>
        <div style="height:10px"></div>
        <div style="background-color:#aaa;height: 2px;width: 80%;margin-left: auto;margin-right: auto"></div>
        <div class="row" style="text-align: left;margin-top:20px">
            <div class="col-md-8">
                <h3>Evolution of the Telecom industry </h3> Talk by Mr. Dhananjay Saheba on Telecom industry in India and it’s Evolution
            </div>
            <div class="col-md-4">
                <time datetime="2016-07-06T00:00:00-04:00">
                    <h3>July 06, 2016</h3>
                </time>
            </div>
        </div>
        <div style="height:10px"></div>
        <div style="background-color:#aaa;height: 2px;width: 80%;margin-left: auto;margin-right: auto"></div>
        <div style="background-color:#aaa;height: 2px;width: 80%;margin-left: auto;margin-right: auto"></div>
    </div>
    <div style="height: 30px"></div>
    <div style="text-align: center;margin-top: 30px;">
        <div style="font-size: 40px">
            <a name="htw"></a>How Things Work?</div>
        <p style="text-align: justify;">
            ‘How things work’ session , is a great initiative that has been started by Tinkerers’ Lab in order to boost enthusiasm among students about various gadgets. It aims towards dismantling of machines and to understand how do they work. It’s a like informal meet which is organized by approach of students where they do fantastic stuff with machines.It really gives a such immense pleasure to tinkerers as they get hands on experience of disassembling gadgets . These sessions are generally organized in Tinkerers’ lab as well on hostel level too.
        </p>
        <h1 style="text-align: justify;">‘How things work’ sessions have been done with various types of machines as follows :</h1>
        <ul>
            <li><p>3D PRINTER</p></li>
            <li><p>Projector</p></li>
            <li><p>Macintosh Desktop</p></li>
            <li><p>BLDC Motor</p></li>
            <li><p>DC Motor</p></li>
            <li><p>Chemical Etching Machine</p></li>
            <li><p>Multimeter</p></li>
            <li><p>Hard Disk</p></li>
            <li><p>Key Board</p></li>
        </ul>
        <p style="text-align: justify;">
            Tinkerers’ Lab is organizing such events with great frequency in order to create interest among learners. Students really delighted by this ‘How things work ‘ session. If students wish to have a dismantling of a particular machine in ‘How things work’ session , they can make a contact with TL team.
        </p>
    </div>
    <div style="height: 30px"></div>
    <div style="text-align: center;margin-top: 30px;">
        <div style="font-size: 40px">
            <a name="aw"></a>Arduino Workshop</div>
        <p style="text-align: justify;">
            The Batch has sponsored a major initiative ‘Tinkerers’ Lab’ (TL) and wish that it evolves into a major eco-system in supporting students in becoming a better engineer and a person. It is thought that all modern products / projects use electronics and majorly microcontroller as ubiquitous “basic component”. So to promote tinkering, it was considered necessary to provide sufficient exposure to students in this area. </p>
        <p style="text-align: justify;">
            The emphasis was on training students with fun, excitement and wonder. The workshop was to provide an enabling experience so that the student can confidently explore this field on his own in future and use it to fulfill his dream projects.
        </p>
        <h1 style="text-align: justify;"><b><u>Goals:</u></b></h1>
        <ul>
            <li><p>To expose students to microcontroller hardware, interconnections, simple devices and peripherals as used in daily life</p></li>
            <li><p>To write programs in a simpler language than C/C++ to drive it all together to make a simple meaningful project</p></li>
            <li><p>To use the software tools and libraries already available for quickly developing prototypes</p></li>
            <li><p>To explore various devices such as sensors, actuators, human interfaces and their use in design</p></li>
            <li><p>Last but not the least, to enable a person with nil background in electronics and any type of programming, to appreciate and plan use of these components in his design</p></li>
        </ul>

    </div>
    <div style="height: 30px"></div>
    <div style="text-align: center;margin-top: 30px;">
        <div style="font-size: 40px">
            <a name="yb"></a>ARM Workshop</div>
        <p style="text-align: justify;">
            ‘TL Talks’ have begun with the purpose of taking ahead the very spirit of innovation, by acquainting students with great technologies and the brains behind them, to inspire students to find the inventor within them.
        </p>
    </div>
</div>
<div class="space-20"></div>
{% endblock %}
