{% extends 'tl/template.html' %}
{% load static %}
{% block bodyContent %}
<!--center>
    <img src="{% static 'tl/assets/images/inauguration11.jpg' %}" alt="Tinkerers' Laboratory" class="image-responsive image-tumbnail" style="width:98%">
</center-->
<div style="margin:50px 50px auto 50px;font-size:1.5vmax;">
    <div style="">
        <p>A Tinkerer is someone who enjoys experimenting. We, at Tinkerers' Laboratory are always open for such people with an aim to grow innovators and thinkers, converting their creative ideas into actual engineering products. For them to do whatever they love to do, let them have limitless hands-on experience and spend hours tinkering without any worries.</p>
        <p>So if you are turned on by machines and technology, Tinkerers' Lab is the place to be.</p>
    </div>
    <div style="">
    </div>
</div>
<center>
    <div style="background-color: #333;height:3px;width:80%;margin-top: 50px"></div>
</center>
<!-- MAIN BODY -->
<div style="margin:50px 50px auto 50px;font-size:1.5vmax;">
    <center>
        <div style="font-size: 60px"><b>Why Tinkerers' Lab!?</b></div>
        <div style="margin-top: 80px;border-radius:50%;border:20px solid #333;width:200px;height:200px;padding:5px;padding-top:35px;text-align: center;line-height: 50px;font-size: 150px;color:#333"><b>&gt;</b></div>
        <div style="padding-top: 20px;font-size:30px"><b>Availability</b></div>
        <div style="margin-top:20px">
            The facility is open 24x7 and is completely managed by students. So just drop by whenever you wish.
        </div>
    </center>
</div>
<!-- MAIN BODY -->
<div style="margin:50px 50px auto 50px;font-size:1.5vmax;">
    <center>
        <div style="margin-top: 80px;border-radius:50%;border:20px solid #333;width:200px;height:200px;padding:5px;padding-top:35px;text-align: center;line-height: 50px;font-size: 150px;color:#333"><b>&gt;</b></div>
        <div style="padding-top: 20px;font-size:30px"><b>Resources</b></div>
        <div style="margin-top:20px">
            TL boasts an inventory ranging from tiny resistors to sophisticated machines like CNC Machines, Laser Cutter, 3D Printer, Heavy Machines like Lathe, Milling, Drill and necessary software assistance.
        </div>
    </center>
</div>
<!-- MAIN BODY -->
<div style="margin:50px 50px auto 50px;font-size:1.5vmax;">
    <center>
        <br>
        <img src="{% static 'tl/assets/images/share.png' %}" style="width: 200px;height: 200px">
        <br>
        <div style="margin-top: 20px;font-size:20px"><b>Innovation Hub</b></div>
        <div style="margin-top:20px">
            The TL environment encourages the students to go beyond their curriculum and explore technology as a hobby, as fun, and start tinkering, building and innovating to convert creative ideas into actual engineering products.
        </div>
    </center>
</div>
<div style="margin:150px 50px auto 50px;font-size:1.5vmax;">
    <center>
        <img src="{% static 'tl/assets/images/evo_tinkrer.png' %}" class="img-circle border-0" style="width: 80%; ">
    </center>
</div>`
<!-- MAIN BODY ENDS -->
{% endblock %}