{% extends 'tl/template.html' %} {% load static %} {% block bodyContent %}
<div class="row" style="text-align: center">
	<div class="col-md-10" style="margin-top:75px; ">
		<div style="height:40px"></div>
		<div style="color:#333;font-size:20px">
			<h1>TL Resources</h1>
			<h3><br>&emsp;&emsp;<a href="https://docs.google.com/spreadsheets/d/1RwLfId8hE-K-bgi1Ncj1jg-v4ldNpYJBkmduLWjf-ZQ/edit?usp=sharing">TL Inventory</a></li>
			<br>&emsp;&emsp;<a href="https://docs.google.com/spreadsheets/d/1RUmp5QvcHyhCTFrsQGZU50iCJyYZJP0hEFV3ojj3coE/edit#gid=0">TL Library</a></li>
			<br>&emsp;&emsp;<i class="fa fa-rss" aria-hidden="true"></i>
			<a href="http://tinkererslaboratory.github.io">TL Blogs</a></li></h3>

			<h1>USER MANUAL FOR MACHINES</h1>
			<br>
			<ul style="text-align: left;text-decoration: none;list-style-type: none;">
				<li>CNC BenchMill:
					<br>&emsp;&emsp;<a href="http://www.intelitekdownloads.com/Manuals/CNC/200065-C-BenchMill-UG.pdf">http://www.intelitekdownloads.com/Manuals/CNC/200065-C-BenchMill-UG.pdf</a></li>
				<br>
				<li>CNC BenchTurn:
					<br>&emsp;&emsp;<a href="http://www.intelitekdownloads.com/Manuals/CNC/200063-D-BenchTurn-UG.pdf">http://www.intelitekdownloads.com/Manuals/CNC/200063-D-BenchTurn-UG.pdf</a></li>
				<br>
				<li>Weller Soldering station:
					<br>&emsp;&emsp;<a href=">http://www.weller-toolsus.com/MagentoShare/media/mannuals/WESD51_OI_PL.pdf">http://www.weller-toolsus.com/MagentoShare/media/mannuals/WESD51_OI_PL.pdf</a></li>
				<br>
			</ul>
		</div>
		<div style="margin-top:40px">
			<a href="/tinkerers-lab/wishlist" style="text-decoration: none;font-size: 30px;color:#333;">
				<img src="{% static 'tl/assets/images/wish.png' %}" alt="Wishlist" height="100" width="100" />
				<p><b>Wishlist</b></p>
				<p>If you wish to have something at Tinkerer's Lab, feel free to drop a message.</p>
			</a>
		</div>
	</div>
</div>
{% endblock %}
