{% extends 'tl/template.html' %} {% load static %} {% block bodyContent %}
<div class="col-md-10 col-md-offset-2">
    <div class="row" style="text-align:center">
        <div class="col-md-10 " style="font-size: 300%">Contact Information</div>
        <div class="col-md-10" style="font-size: 300%">Intercom Number: (022)-2576-4381</div>
        <div class="col-md-12" style="height:90px;"></div>
        <div class="col-md-4 col-md-offset-4" style="font-size: 200%">Facadvisor</div>
        <div class="card card--big col-md-6 col-sm-12" style="min-height: 300px">
            <div class="card__image" style="background-image: url('http://www.me.iitb.ac.in/~ramesh/images/rksingh.jpg');background-position: top left;margin-bottom:-90px;"></div>
            <h2 class="card__title" style="margin-top: 110px">Prof.Ramesh Singh</h2>
        </div>
        <div class="card card--big col-md-6 col-sm-12" style="min-height: 300px">
            <div class="card__image" style="background-image: url('https://www.ee.iitb.ac.in/wiki/_media/faculty/jjohn.jpg?w=130&h=&cache=cache');background-position: top left;margin-bottom:-90px;"></div>
            <h2 class="card__title" style="margin-top: 110px">Prof.Joseph John</h2>
        </div>
    </div>
    <div class='row' style="margin-top: 40px;margin-bottom: 10px;">
        <center>
            <div class="col-md-4 col-md-offset-4" style="font-size: 200%">Manager </div>
        </center>
        <div class="card card--big col-md-6 col-sm-12">
            <div class="card__image" style="background-image: url('{% static 'tl/assets/images/mookund.jpg'%}');background-position: top left;margin-bottom:-90px;"></div>
            <h2 class="card__title" style="margin-top: 110px">Mookund Sureka</h2>
            <p class="card__text" style="margin-top: 120px">Mob. No. 7045800176
                <br>Email:- mookundsureka@gmail.com</p>
            <div class="card__action-bar">
                <a href="mailto:mookundsureka@gmail.com">
                    <button class="card__button">
                        Email
                    </button>
                </a>
                <a href="https://www.facebook.com/sureka.mkd">
                    <button class="card__button">
                        Facebook
                    </button>
                </a>
            </div>
        </div>
        <div class="card card--big col-md-6 col-sm-12">
            <div class="card__image" style="background-image: url('{% static 'tl/assets/images/tejendhu.png' %} ');background-position: top left;margin-bottom:-90px;"></div>
            <h2 class="card__title" style="margin-top: 110px">Tejendhu Mouli</h2>
            <p class="card__text" style="margin-top: 120px">Mob. No. 7045800490
                <br>Email:- tejendhu@gmail.com</p>
            <div class="card__action-bar">
                <a href="mailto:tejendhu@gmail.com">
                    <button class="card__button">
                        Email
                    </button>
                </a>
                <a href="https://www.facebook.com/tejendhu">
                    <button class="card__button">
                        Facebook
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class='row' style="margin-top: 40px;margin-bottom: 10px;">
        <center>
            <div class="col-md-4 col-md-offset-4" style="font-size: 200%">Convenor </div>
        </center>
        <div class="card card--big col-md-6 col-sm-12">
            <div class="card__image" style="background-image: url('{% static 'tl/assets/images/vikrant.png' %}');background-position: top left;margin-bottom:-90px;"></div>
            <h2 class="card__title" style="margin-top: 110px">Vikrant Nagpure</h2>
            <p class="card__text" style="margin-top: 120px">Mob. No. 9987107298
                <br>Email:- vikrantnagpure721998@gmail.com</p>
            <div class="card__action-bar">
                <a href="mailto:vikrantnagpure721998@gmail.com">
                    <button class="card__button">
                        Email
                    </button>
                </a>
                <a href="https://www.facebook.com/vikrant.nagpure.77">
                    <button class="card__button">
                        Facebook
                    </button>
                </a>
            </div>
        </div>
        <div class="card card--big col-md-6 col-sm-12">
            <div class="card__image" style="background-image: url('{% static 'tl/assets/images/rohan1.png' %} ');background-position: top left;margin-bottom:-90px;"></div>
            <h2 class="card__title" style="margin-top: 110px">Rohan Gurav</h2>
            <p class="card__text" style="margin-top: 120px">Mob. No. 8692082029
                <br>Email:- rohangurav7@gmail.com</p>
            <div class="card__action-bar">
                <a href="mailto:rohangurav7@gmail.com">
                    <button class="card__button">
                        Email
                    </button>
                </a>
                <a href="https://www.facebook.com/rohan.gurav.355">
                    <button class="card__button">
                        Facebook
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class='row' style="margin-top: 40px;margin-bottom: 10px;">
        <center>
            <div class="col-md-4 col-md-offset-4" style="font-size: 200%">Technicians </div>
        </center>
        <div class="card card--big col-md-6 col-sm-12">
            <div class="card__image" style="background-image: url('{% static 'tl/assets/images/rohit.jpg' %}');background-position: top left;margin-bottom:-90px;"></div>
            <h2 class="card__title" style="margin-top: 110px">Rohit Chile</h2>
            <p class="card__text" style="margin-top: 120px">Mob. No. 9029936240
                <br>Email:- chile.rohit@gmail.com</p>
            <div class="card__action-bar">
                <a href="mailto:chile.rohit@gmail.com">
                    <button class="card__button">
                        Email
                    </button>
                </a>
                <a href="https://www.facebook.com/chile.rohit">
                    <button class="card__button">
                        Facebook
                    </button>
                </a>
            </div>
        </div>
        <div class="card card--big col-md-6 col-sm-12">
            <div class="card__image" style="background-image: url('{% static 'tl/assets/images/vinayak.jpg' %}');background-position: top left;margin-bottom:-90px;"></div>
            <h2 class="card__title" style="margin-top: 110px">Vinayak Shelar</h2>
            <p class="card__text" style="margin-top: 120px">Mob. No. 9619804131
                <br>Email:- vinayakshelar78@gmail.com</p>
            <div class="card__action-bar">
                <a href="vinayakshelar78@gmail.com">
                    <button class="card__button">
                        Email
                    </button>
                </a>
                <a href="https://www.facebook.com/vinayak.shelar.73">
                    <button class="card__button">
                        Facebook
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
